<article class='write-post'>
  <h2 class='hidden'>New Content</h2>
  <div class='new-content-body'>
    <h4>Title</h4>
    <p>{{input value=title}}</p>
    <h4>Summary</h4>
    <p>{{input value=summary}}</p>
    <h4>Body</h4>
    <p>{{textarea value=body rows=10}}</p>
  </div>
  <a href='#' class='btn-primary' {{action hide}}>{{show}}</a>
  <a href='#' class='btn-primary' {{action save}}>Save Post</a>
</article>
<article id='post' class='preview-post'>
  <h2>
    {{#if title}}
      {{title}}
    {{else}}  
      Title Placeholder
    {{/if}}
  </h2>
  <div class='extract'>
    <p>
      {{#if summary}}
        {{summary}}
      {{else}}
        Summary Placeholder
      {{/if}}
    </p>
  </div>
  <div class='post-body'>
    {{#if body}}
      {{convert-marked body}}
    {{else}}
      Body Placeholder
    {{/if}}
  </div>
</article>