<article id='post'>
  <h2>
    {{title}}
  </h2>
  <div class='post-info'>
    <p>By {{creator}} [{{format-date created}}]</p>
    {{share-twitter data-text="Check out this article: " data-size="large" data-hashtags="mistakenidentity"}}
  </div>
  <div class='post-body'>
    {{convert-marked body}}
  </div>
  {{c-disqus}}
</article>